@{
    Layout = "_C286";
}

<div class="row g-0">
    <div class="col-sm me-2 mb-2">
        <div class="row g-0 mb-2">
            <div class="card">
                <div class="card-header">
                    <h4>Func Prog</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="~/Learn/SayHi/MsSim?country=china">Learn/SayHi/MsSim?country=china</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Learn/SayGood/MrRudy">Learn/SayGood/MrRudy</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Learn/GenericDelegates">Learn/GenericDelegates</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Learn/Squares">Learn/Squares</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Learn/StringOp?op=c&a=pineapple&b=pen">Learn/StringOp?op=c&a=pineapple&b=pen</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Learn/StringOp?op=r&a=pineapple&b=apple">Learn/StringOp?op=r&a=pineapple&b=apple</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row g-0 mb-2">
            <div class="card">
                <div class="card-header">
                    <h4>Func Prog Exercises (TASK 2 & 3)</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="~/Learn/Evaluate?op=sum&x=7&y=3">Learn/Evaluate?op=sum&x=7&y=3</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Learn/Evaluate?op=dif&x=7&y=3">Learn/Evaluate?op=dif&x=7&y=3</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Learn/Evaluate?op=prd&x=7&y=3">Learn/Evaluate?op=prd&x=7&y=3</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Learn/Evaluate?op=div&x=7&y=3">Learn/Evaluate?op=div&x=7&y=3</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row g-0 mb-2">
            <div class="card">
                <div class="card-header">
                    <h4>LINQ Exercises (TASK 4)</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="~/Learn/FilterByPrice/10">Learn/FilterByPrice/10</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Learn/SortedByPrice">Learn/SortedByPrice</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Learn/FilterednSorted/10">Learn/FilterednSorted/10</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="row g-0 mb-2">
            <div class="card">
                <div class="card-header">
                    <h4>Sing Room Demo</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="~/SingRoom/Index">SingRoom/Index</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row g-0 mb-2">
            <div class="card">
                <div class="card-header">
                    <h4>Pet Hotel Solution</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="~/PetHotel/Index">PetHotel/Index</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>


