@model List<SRBooking>

@{
    ViewBag.Title = "View Bookings by Package";
    Layout = "_SingRoom";

    List<dynamic> lstPackages = (ViewData["PackageTypes"] as List<dynamic>)!;
}


@foreach (var p in lstPackages)
{
    <h3>@p.PkgDesc</h3>
    List<SRBooking> data = Model!
        .Where(b => b.PkgTypeId == p.Id)
        .OrderBy(b => b.BookingDate)
        .ThenBy(b => b.SlotId)
        .ToList<SRBooking>();

    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr>
            <th scope="col" width="40%">Booking Date</th>
            <th scope="col" width="20%">Booking ID</th>
            <th scope="col" width="40%">Customer</th>
        </tr>

        @foreach (SRBooking b in data)
        {
            <tr scope="row">
                <td width="40%">@b.BookingDate.ToString("dd-MM-yyyy")</td>
                <td width="20%">@b.Id</td>
                <td width="40%">@b.CustName</td>
            </tr>
        }
    </table>

}


